/*******************************Calendar Top Navigation*********************************/

/*
:root {
	--cell-size: 80px;
	--header-size: 40px;
	--calendar-width: 602px;
	--font-size: 18px;
	--label-size: 15px;
	--header-width: 582px;
	--day-font-size: 25px;
}
:root {
	--cell-size: 30px;
	--header-size: 20px;
	--calendar-width: 256px;
	--font-size: 16px;
	--label-size: 11px;
	--header-width: 221px;
	--day-font-size: 14px;
}

*/

:root {
	--cell-size: 24px;
	--header-size: 18px;
	--calendar-width: 210px;
	--font-size: 12px;
	--label-size: 8px;
	--header-width: 200px;
	--day-font-size: 10px;
}

@media only screen and (max-width: 959px) and (min-width: 768px) {
:root {
	--cell-size: 16px;
	--header-size: 15px;
	--calendar-width: 160px;
	--font-size: 10px;
	--label-size: 7px;
	--header-width: 150px;
	--day-font-size: 9px;
	 background-color: blue ;
}	
}
div#calendar{
  margin:0px auto;
  padding:0px;
  width: var(--calendar-width);
  font-family:Helvetica, "Times New Roman", Times, serif;
}
 
div#calendar div.box{
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    height: var(--header-size);
    background-color:  #787878 ;      
}
 
div#calendar div.header{
    line-height: var(--header-size);  
    vertical-align:middle;
    position:absolute;
    left: var(--label-size);
    top:0px;
    width: var(--header-width);
    height: var(--header-size);   
    text-align:center;
}

div#calendar .calendar-title{
    line-height: var(--header-size);
    vertical-align:middle;
    height: var(--header-size);
    text-align:center;
    font-size: var(--font-size);
}

div#calendar div.header a.prev,div#calendar div.header a.next{ 
    position:absolute;
    top:0px;   
    height: var(--font-size);
    display:block;
    cursor:pointer;
    text-decoration:none;
    color:#FFF;
}

div#calendar div.header span.title{
    color:#FFF;
    font-size: var(--font-size);
}

/*******************************Calendar Content Cells*********************************/
div#calendar div.box-content{
    border:1px solid #787878 ;
    border-top:none;
}
 
 
 
div#calendar ul.label{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-top:5px;
    margin-left: 5px;
}
 
div#calendar ul.label li{
    margin:0px;
    padding:0px;
    margin-right:5px;  
    float:left;
    list-style-type:none;
    width: var(--cell-size);
    height: var(--header-size);
    line-height:40px;
    vertical-align:middle;
    text-align:center;
    color:#000;
    font-size: var(--label-size);
/*    background-color: transparent; */
}
 
 
div#calendar ul.dates{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}
 
/** overall width = width+padding-right**/
div#calendar ul.dates li{
    margin:0px;
    padding:0px;
    margin-right:5px;
    margin-top: 5px;
    line-height: var(--cell-size);
    vertical-align:middle;
    float:left;
    list-style-type:none;
    width:  var(--cell-size);
    height: var(--cell-size);
    font-size: var(--day-font-size);
    background-color: #DDD;
    color:#000;
    text-align:center; 
}
 
:focus{
    outline:none;
}
 
div.clear{
    clear:both;
}

:root {
    --free-color: #16d416;
    --busy-color: orange;
    --full-color: red;
}

div#calendar ul.dates li.free {
	background-color: var(--free-color);
}

div#calendar ul.dates li.busy {
	background-color: var(--busy-color);
}

div#calendar ul.dates li.full {
	background-color: var(--full-color);
}

div#calendar ul.dates li.free_busy {
/*	background-image: -webkit-linear-gradient(135deg, var(--busy-color) 50%, var(--free-color) 50%);*/
	background-color: var(--busy-color);
	
}

div#calendar ul.dates li.busy_free {
/*	background-image: -webkit-linear-gradient(135deg, var(--free-color) 50%, var(--busy-color) 50%);*/
	background-color: var(--busy-color);
	
}

div#calendar ul.dates li.free_full {
/*	background-image: -webkit-linear-gradient(135deg, var(--full-color) 50%, var(--free-color) 50%);*/
	background-color: var(--busy-color);
	
}

div#calendar ul.dates li.full_free {
/*	background-image: -webkit-linear-gradient(135deg, var(--free-color) 50%, var(--full-color) 50%);*/
	background-color: var(--busy-color);
	
}

div#calendar ul.dates li.busy_full {
/*	background-image: -webkit-linear-gradient(135deg, var(--full-color) 50%, var(--busy-color) 50%);*/
	background-color: var(--busy-color);
	
}

div#calendar ul.dates li.full_busy {
/*	background-image: -webkit-linear-gradient(135deg, var(--busy-color) 50%, var(--full-color) 50%);*/
	background-color: var(--busy-color);
	
}

.free {
	background-color: var(--free-color);
}

.busy {
	background-color: var(--busy-color);
}

.full {
	background-color: var(--full-color);
}

.free_busy {
/*	background-image: -webkit-linear-gradient(135deg, var(--busy-color) 50%, var(--free-color) 50%); */
background-color: var(--busy-color);
	
}

.busy_free {
/*	background-image: -webkit-linear-gradient(135deg, var(--free-color) 50%, var(--busy-color) 50%);*/
	background-color: var(--busy-color);
	
}

.free_full {
/*	background-image: -webkit-linear-gradient(135deg, var(--full-color) 50%, var(--free-color) 50%);*/
	background-color: var(--busy-color);
	
}

.full_free {
/*	background-image: -webkit-linear-gradient(135deg, var(--free-color) 50%, var(--full-color) 50%);*/
background-color: var(--busy-color);
	
}

.busy_full {
/*	background-image: -webkit-linear-gradient(135deg, var(--full-color) 50%, var(--busy-color) 50%);*/
	background-color: var(--busy-color);
	
}

.full_busy {
/*	background-image: -webkit-linear-gradient(135deg, var(--busy-color) 50%, var(--full-color) 50%);*/
	background-color: var(--busy-color);
	
}

form label.gform_body {
		float: none;
}

.legend {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.legend p {
    font-size: 7px;
}

.legend h2 {
    font-size: 10px;
}

.legend-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid black;
    margin: 50px;
    display: flex;
    max-width: 90px;
    min-width: 50px;
    background-color: #eee;
}

.legend-square {
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
    /* display: table-cell; */
    padding: 10px;
    position: relative;
    font-size: 1rem;

    background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        color-stop(0.0,transparent),
        color-stop(0.49,transparent),
        color-stop(0.5, #000000),
        color-stop(0.51, transparent),
        color-stop(1, transparent)
    );

    background-image: -moz-linear-gradient(
        left top,
        transparent 0%,
        transparent 49%,
        #000000 50%,
        transparent 51%,
        transparent 100%
    );
}

.legend-am {
    position: absolute;
    top: 15%;
    left: 15%;
}

.legend-pm {
    position: absolute;
    bottom: 20%;
    right: 20%;
}

.legend-text {
    /* display: inline-block; */
    /* padding-bottom: 30px; */
    /* display: table-cell; */
    margin: 0 auto;
    vertical-align: middle;
    height: 25%;
    text-align: center;
}

.legend-detail {
    padding: 10px;
    min-height: 115px;
}

.legend-text h2 {
    vertical-align: middle;
    padding: 5px 0;
    font-size: 9px;
}

.crowbank-span {
    padding: 5px;
}