@CHARSET "ISO-8859-1";
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}

.crowbank-error {
  border-radius: 3px;
  color: white;
  position: relative;
  font-size: 14px;
  line-height: 20px!important;
/*  background: #C74A4A; */
  background: green;
  width: auto;
  max-width: 100%;
  box-sizing: border-box;
  padding: 12px;
  margin: 12px 0 0;
}

.crowbank-medium {
  max-width: 700px;
  margin: 20px 0;
}

.crowbank-floater {
  display: inline-block;
  width: 45%;
  margin: 5% auto;
}

.crowbank-wrapper {
  margin: 20px auto;
  padding-left: 10px;
}

.confirmedbooking {
  background-color: #5DADE2;
}

.bookingbooking {
  background-color: #82E0AA;
}

.cancelledbooking {
  background-color: #AAAAAA;
}

.currentbooking {
  background-color: #FFEB3B;
  font-weight: bold;
}

.standbybooking {
  background-color: #FFA000;
  font-style: italic;
}

.supervisor_class {
  background-color: #00FF00;
}

.assistant_class {
  background-color: #FFFF00;
}

.walker_class {
  background-color: #FE88DB;
}


.timesheet_table {
  border: 2px solid;
  font-size: 80%;
}

.tight_table > tbody > tr > td {
	padding: 0 !important;
}

.supervisor_class {
  background-color: #00FF00;
}

.assistant_class {
  background-color: #FFFF00;
}

.walker_class {
  background-color: #FE88DB;
}

.unavailable_class {
  background-color: #88888B;
}

.vacation_class {
  background-color: #FBCC0C;
}

.dogs_header {
  border-bottom: solid 1px;
  border-top: solid 2px;
  border-left: solid 1px;
  text-align: center;
}

.cats_header {
  border-bottom: solid 1px;
  border-top: solid 2px;
  border-right: solid 1px;
  text-align: center;
}

.topleft_header {
  border-top: solid 1px;
  border-left: solid 1px;
}

.centerleft_header {
  border-left: solid 1px;
}

.bottomleft_header {
  border-left: solid 1px;
  border-bottom: solid 1px;
}

.top1_header {
  border-top: solid 1px;
  border-left: solid 1px;
  text-align: center;
}

.top2_header {
  border-top: solid 1px;
  border-right: solid 1px;
  text-align: center;
}

.center1_header {
  border-left: solid 1px;
  text-align: center;
}

.center2_header {
  border-right: solid 1px;
  text-align: center;
}

.bottom_header {
  border-left: solid 1px;
  border-right: solid 1px;
  border-bottom: solid 1px;
  text-align: center;
}

.date_header {
  border-left: solid 1px;
  border-right: solid 1px;
  border-top: solid 1px;
  text-align: center;
}

.day_header {
  border-left: solid 1px;
  border-right: solid 1px;
  border-bottom: solid 1px;
  text-align: center;
}

.am_header {
  border-left: solid 1px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  text-align: center;
}

.pm_header {
  border-right: solid 1px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  text-align: center;
}

.first_name_header {
  border-right: solid 1px;
  border-top: solid 1px;
  border-left: solid 1px;
  border-bottom: 1px dashed;
  text-align: left;
}

.name_header {
  border-right: solid 1px;
  border-top: 1px dashed;
  border-left: solid 1px;
  border-bottom: 1px dashed;  
  text-align: left;
}

.last_name_header {
  border-right: solid 1px;
  border-top: 1px dashed;
  border-left: solid 1px;
  border-bottom: solid 1px;
  text-align: left;
  
}

.first_am_cell {
  border-top: solid 1px;
  border-left: solid 1px;
  border-right: 1px dashed;
  border-bottom: 1px dashed;
  text-align: center;
}

.am_cell {
  border-top: 1px dashed;
  border-left: solid 1px;
  border-right: 1px dashed;
  border-bottom: 1px dashed;
  text-align: center;
}

.last_am_cell {
  border-top: 1px dashed;
  border-left: solid 1px;
  border-right: 1px dashed;
  border-bottom: solid 1px;
  text-align: center;
}

.first_pm_cell {
  border-top: solid 1px;
  border-bottom: 1px dashed;
  border-left: 1px dashed;
  border-right: solid 1px;
  text-align: center;
}

.pm_cell {
  border-top: 1px dashed;
  border-bottom: 1px dashed;
  border-left: 1px dashed;
  border-right: solid 1px;
  text-align: center;
}

.last_pm_cell {
  border-top: 1px dashed;
  border-bottom: solid 1px;
  border-left: 1px dashed;
  border-right: solid 1px;
  text-align: center;
}

.navigation_button {
  padding: 10px;
  margin: 20px;
  border: 1px solid;
  background: rgba(0, 253, 255, 0.54);
  }

.deposit_button {
  background:    #3d85c6;
  background:    -webkit-linear-gradient(#3d85c6, #073763);
  background:    linear-gradient(#3d85c6, #073763);
  border-radius: 5px;
  width:         120px;
  height:        30px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal 700 18px/30px "Calibri", sans-serif;
  text-align:    center;
  text-shadow:   1px 1px #000000;
  }

.log_debug {
  background: #aaaaaa;
}

.log_info {
  background: white;
}

.log_warn {
  background: orange;
}

.log_error {
  background: red;
  font-style: bold;
}

.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 100%;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 100%;
}

.tgl-flat + .tgl-btn {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: sans-serif;
}
.tgl-flat + .tgl-btn:after, .tgl-flat + .tgl-btn:before {
  display: inline-block;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
/*  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); */
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0);
}
.tgl-flat + .tgl-btn:after {
  left: 100%;
  content: attr(data-tg-on);
}
.tgl-flat + .tgl-btn:before {
  left: 0;
  content: attr(data-tg-off);
}
.tgl-flat + .tgl-btn:active {
  background: #888;
}
.tgl-flat + .tgl-btn:active:before {
  left: -10%;
}
.tgl-flat:checked + .tgl-btn {
/*  background: #86d993; */
}
.tgl-flat:checked + .tgl-btn:before {
  left: -100%;
}
.tgl-flat:checked + .tgl-btn:after {
  left: 0;
}
.tgl-flat:checked + .tgl-btn:active:after {
  left: 10%;
}

.ginput_container_radio ul li label {
	padding-right: 10px;
}



.booking {
  border: 1px solid black;
  min-width: 300px;
  max-width: 500px;
  min-height: 180px;
  max-height: 250px;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
#  grid-column-gap: 2px;
#  grid-row-gap: 2px;  
  font-size: 80%;
  grid-template-columns: 17% auto 17% auto;
  border-radius: 5px;
}

.span2 {
  grid-column: span 2;
}
.span3 {
  grid-column: span 3;
}
.span4 {
  grid-column: span 4;
}

.booking .label {
  font-weight: bold;
  text-align: left;
  padding: 5px;
#  border: 2px solid #dddddd;
  width: 100%;
}

.booking .content {
  font-weight: standard;
  text-align: left;
  padding: 5px;
#  border: 2px solid #dddddd;
  width: 100%;
}

.buttonRow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.buttonPay {
  --color1: #fff6af;
  --color2: #ffec64;
  --color3: #ffab23;
  --color4: #ffaa22;
  --color5: #333333;
  --color6: #ffee66;
}

.buttonModify {
  --color1: #a4e271;
  --color2: #89c403;
  --color3: #77a809;
  --color4: #74b807;
  --color5: #ffffff;
  --color6: #528009;
}

.buttonCancel {
  --color1: #f5978e;
  --color2: #f24537;
  --color3: #c62d1f;
  --color4: #d02718;
  --color5: #ffffff;
  --color6: #810e05;
}

.button {
	-moz-box-shadow: 0px 1px 0px 0px var(--color1);
	-webkit-box-shadow: 0px 1px 0px 0px var(--color1);
	box-shadow: 0px 1px 0px 0px var(--color1);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, var(--color2)), color-stop(1, var(--color3)));
	background:-moz-linear-gradient(top, var(--color2) 5%, var(--color3) 100%);
	background:-webkit-linear-gradient(top, var(--color2) 5%, var(--color3) 100%);
	background:-o-linear-gradient(top, var(--color2) 5%, var(--color3) 100%);
	background:-ms-linear-gradient(top, var(--color2) 5%, var(--color3) 100%);
	background:linear-gradient(to bottom, var(--color2) 5%, var(--color3) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--color2), endColorstr=var(--color3),GradientType=0);
	background-color:var(--color2);
	border:1px solid var(--color4);
	color:var(--color5);
	text-shadow:0px 1px 0px var(--color6);

  -moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}

.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, var(--color3)), color-stop(1, var(--color2)));
	background:-moz-linear-gradient(top, var(--color3) 5%, var(--color2) 100%);
	background:-webkit-linear-gradient(top, var(--color3) 5%, var(--color2) 100%);
	background:-o-linear-gradient(top, var(--color3) 5%, var(--color2) 100%);
	background:-ms-linear-gradient(top, var(--color3) 5%, var(--color2) 100%);
	background:linear-gradient(to bottom, var(--color3) 5%, var(--color2) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--color3), endColorstr=var(--color2),GradientType=0);
	background-color:var(--color3);
  
}

.button:active {
	position:relative;
	top:1px;
}

#gform_wrapper_19 {
     border: 1px solid black ;
     border-radius: 10px;
}
