@CHARSET "ISO-8859-1";
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}

.crowbank-error {
  border-radius: 3px;
  color: white;
  position: relative;
  font-size: 14px;
  line-height: 20px!important;
/*  background: #C74A4A; */
  background: green;
  width: auto;
  max-width: 100%;
  box-sizing: border-box;
  padding: 12px;
  margin: 12px 0 0;
}

.crowbank-medium {
  max-width: 900px;
  margin: 20px 0;
}

.crowbank-floater {
  display: inline-block;
  width: 45%;
  margin: 5% auto;
}

.crowbank-wrapper {
  margin: 20px auto;
  padding-left: 10px;
}

.confirmedbooking {
  background-color: #5DADE2;
}

.bookingbooking {
  background-color: #82E0AA;
}

.cancelledbooking {
  background-color: #AAAAAA;
}

.requestedbooking {
  background-color: #e6e874;
  font-style: italic;
}

.draftbooking {
  background-color: #e6e874;
  font-style: italic;
}

.pastbooking { 
}

.currentbooking {
  background-color: #FFEB3B;
  font-weight: bold;
}

.standbybooking {
  background-color: #FFA000;
  font-style: italic;
}

.owner_class {
  background-color: #00FF00;
}

.office_class {
  background-color: #56c5d0
}

.supervisor_class {
  background-color: #00FF00;
}

.assistant_class {
  background-color: #FFFF00;
}

.walker_class {
  background-color: #FE88DB;
}

.volunteer_class {
  background-color: #4286f4;
}

.timesheet_table {
  border: 2px solid;
  font-size: 80%;
}

.tight_table > tbody > tr > td {
	padding: 0 !important;
}

.supervisor_class {
  background-color: #00FF00;
}

.assistant_class {
  background-color: #FFFF00;
}

.walker_class {
  background-color: #FE88DB;
}

.unavailable_class {
  background-color: #88888B;
}

.vacation_class {
  background-color: #FBCC0C;
}

.special_class {
  background-color: #FF0000;
}

.dogs_header {
  border-bottom: solid 1px;
  border-top: solid 2px;
  border-left: solid 1px;
  text-align: center;
}

.cats_header {
  border-bottom: solid 1px;
  border-top: solid 2px;
  border-right: solid 1px;
  text-align: center;
}

.topleft_header {
  border-top: solid 1px;
  border-left: solid 1px;
}

.centerleft_header {
  border-left: solid 1px;
}

.bottomleft_header {
  border-left: solid 1px;
  border-bottom: solid 1px;
}

.top1_header {
  border-top: solid 1px;
  border-left: solid 1px;
  text-align: center;
}

.top2_header {
  border-top: solid 1px;
  border-right: solid 1px;
  text-align: center;
}

.center1_header {
  border-left: solid 1px;
  text-align: center;
}

.center2_header {
  border-right: solid 1px;
  text-align: center;
}

.bottom_header {
  border-left: solid 1px;
  border-right: solid 1px;
  border-bottom: solid 1px;
  text-align: center;
}

.date_header {
  border-left: solid 1px;
  border-right: solid 1px;
  border-top: solid 1px;
  text-align: center;
}

.day_header {
  border-left: solid 1px;
  border-right: solid 1px;
  border-bottom: solid 1px;
  text-align: center;
}

.am_header {
  border-left: solid 1px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  text-align: center;
}

.pm_header {
  border-right: solid 1px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  text-align: center;
}

.first_name_header {
  border-right: solid 1px;
  border-top: solid 1px;
  border-left: solid 1px;
  border-bottom: 1px dashed;
  text-align: left;
}

.name_header {
  border-right: solid 1px;
  border-top: 1px dashed;
  border-left: solid 1px;
  border-bottom: 1px dashed;  
  text-align: left;
}

.last_name_header {
  border-right: solid 1px;
  border-top: 1px dashed;
  border-left: solid 1px;
  border-bottom: solid 1px;
  text-align: left;
  
}

.first_am_cell {
  border-top: solid 1px;
  border-left: solid 1px;
  border-right: 1px dashed;
  border-bottom: 1px dashed;
  text-align: center;
}

.am_cell {
  border-top: 1px dashed;
  border-left: solid 1px;
  border-right: 1px dashed;
  border-bottom: 1px dashed;
  text-align: center;
}

.last_am_cell {
  border-top: 1px dashed;
  border-left: solid 1px;
  border-right: 1px dashed;
  border-bottom: solid 1px;
  text-align: center;
}

.first_pm_cell {
  border-top: solid 1px;
  border-bottom: 1px dashed;
  border-left: 1px dashed;
  border-right: solid 1px;
  text-align: center;
}

.pm_cell {
  border-top: 1px dashed;
  border-bottom: 1px dashed;
  border-left: 1px dashed;
  border-right: solid 1px;
  text-align: center;
}

.last_pm_cell {
  border-top: 1px dashed;
  border-bottom: solid 1px;
  border-left: 1px dashed;
  border-right: solid 1px;
  text-align: center;
}

.navigation_button {
  padding: 10px;
  margin: 20px;
  border: 1px solid;
  background: rgba(0, 253, 255, 0.54);
  }

.booking_request_button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.booking_request_button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.table_button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font:    normal 700 18px/30px "Calibri", sans-serif;
  padding: 4px;
  text-align:    center;
  text-shadow:   1px 1px #000000;
  line-height: 100%;	
  display:       inline-block;
  text-shadow:0px 1px 0px #854629;
}

.booking_edit_button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  color: #ffffff;
}

.booking_edit_button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.deposit_button {
	
  background: #34d94d;
  background-image: -webkit-linear-gradient(top, #34d94d, #178751);
  background-image: -moz-linear-gradient(top, #34d94d, #178751);
  background-image: -ms-linear-gradient(top, #34d94d, #178751);
  background-image: -o-linear-gradient(top, #34d94d, #178751);
  background-image: linear-gradient(to bottom, #34d94d, #178751);
  color:         #ffffff;
 }


.go_back_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
    line-height: 100%;
    border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font: normal 700 18px/30px "Calibri", sans-serif;
	padding: 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
	text-align: center;
	border:1px solid #dcdcdc;
	font: normal 700 18px/30px "Calibri", sans-serif;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	text-align: center;
}

.go_back_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.go_back_button:active {
	position:relative;
	top:1px;
}

.cancel_booking_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	color:#ffffff;
}
.cancel_booking_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.cancel_booking_button:active {
	position:relative;
	top:1px;
}


.log_debug {
  background: #aaaaaa;
}

.log_info {
  background: white;
}

.log_warn {
  background: orange;
}

.log_error {
  background: red;
  font-style: bold;
}

.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 100%;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 100%;
}

.tgl-flat + .tgl-btn {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: sans-serif;
  background: #888;
}
.tgl-flat + .tgl-btn:after, .tgl-flat + .tgl-btn:before {
  display: inline-block;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
/*  text-shadow: 0 1px 0 rgba(0, 0, 0, 0); */
}
.tgl-flat + .tgl-btn:after {
  left: 100%;
  content: attr(data-tg-on);
}
.tgl-flat + .tgl-btn:before {
  left: 0;
  content: attr(data-tg-off);
}
.tgl-flat + .tgl-btn:active {
  background: #888;
}
.tgl-flat + .tgl-btn:active:before {
  left: -10%;
}
.tgl-flat:checked + .tgl-btn {
  /* background: #86d993;*/
}
.tgl-flat:checked + .tgl-btn:before {
  left: -100%;
}
.tgl-flat:checked + .tgl-btn:after {
  left: 0;
}
.tgl-flat:checked + .tgl-btn:active:after {
  left: 10%;
}

.ginput_container_radio ul li label {
	padding-right: 10px;
}

input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  line-height  : 24px;
}

#cancel_button {
	height: auto!important;
}

.booking-confirmatoin .main-table {
	text-align: left;
	width: 100%;
	border: 0;
	cellpadding: 2;
	cellspacing: 2
}

.booking-confirmatoin .conf-title {
	border-top: 1pt solid rgb(164, 166, 166);
	border-bottom: 1pt solid rgb(164, 166, 166);
	background-color: rgb(214, 224, 226);
}

.booking-confirmatoin .field-name {
	font-weight: bold;
}

.booking-confirmatoin .field-value {
	text-align: right;
}

.booking-confirmatoin .small-print {
	font-size: small;
	font-style: italic;
}

.booking-confirmation .changed_field {
	background-color: #999999;
}

.ui-datepicker {
  width: 216px;
  height: auto;
  margin: 5px auto 0;
  font: 9pt Arial, sans-serif;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

.ui-datepicker a {
  text-decoration: none;
}

.ui-datepicker table {
  width: 100%;
}

.ui-datepicker-header {
  background: url('../img/dark_leather.png') repeat 0 0 #000;
  color: #e0e0e0;
  font-weight: bold;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
  box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
  text-shadow: 1px -1px 0px #000;
  filter: dropshadow(color=#000, offx=1, offy=-1);
  line-height: 30px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #111;
}

.ui-datepicker-title {
  text-align: center;
}

.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  background-image: url('../img/arrow.png');
  background-repeat: no-repeat;
  line-height: 600%;
  overflow: hidden;
}

.ui-datepicker-prev {
  float: left;
  background-position: center -30px;
}
.ui-datepicker-next {
  float: right;
  background-position: center 0px;
}

.ui-datepicker thead {
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #f1f1f1 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));
  background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
  background-image: -o-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
  background-image: -ms-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
  background-image: linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
  border-bottom: 1px solid #bbb;
}

.ui-datepicker th {
  text-transform: uppercase;
  font-size: 6pt;
  padding: 5px 0;
  color: #666666;
  text-shadow: 1px 0px 0px #fff;
  filter: dropshadow(color=#fff, offx=1, offy=0);
}

.ui-datepicker tbody td {
  padding: 0;
  border-right: 1px solid #bbb;
}

.ui-datepicker tbody td:last-child {
  border-right: 0px;
}

.ui-datepicker tbody tr {
  border-bottom: 1px solid #bbb;
}
.ui-datepicker tbody tr:last-child {
  border-bottom: 0px;
}

.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #666666;
  text-shadow: 1px 1px 0px #fff;
  filter: dropshadow(color=#fff, offx=1, offy=1);
}
.ui-datepicker-calendar .ui-state-default {
  background: #ededed;
  background: -moz-linear-gradient(top,  #ededed 0%, #dedede 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dedede));
  background: -webkit-linear-gradient(top,  #ededed 0%,#dedede 100%);
  background: -o-linear-gradient(top,  #ededed 0%,#dedede 100%);
  background: -ms-linear-gradient(top,  #ededed 0%,#dedede 100%);
  background: linear-gradient(top,  #ededed 0%,#dedede 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
  -webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
  -moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
  box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
}
.ui-datepicker-unselectable .ui-state-default {
  background: #f4f4f4;
  color: #b4b3b3;
}

.ui-datepicker-calendar .ui-state-hover {
  background: #f7f7f7;
}

.ui-datepicker-calendar .ui-state-active {
  background: #6eafbf;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  color: #e0e0e0;
  text-shadow: 0px 1px 0px #4d7a85;
  filter: dropshadow(color=#4d7a85, offx=0, offy=1);
  border: 1px solid #55838f;
  position: relative;
  margin: -1px;
}

.ui-datepicker-calendar td:first-child .ui-state-active {
  width: 29px;
  margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
  width: 29px;
  margin-right: 0;
}

.ui-datepicker-calendar tr:last-child .ui-state-active {
  height: 29px;
  margin-bottom: 0;
}

.alert {
    padding: 20px;
    color: white;
    margin-bottom: 15px;
}

.alert-error {
	background-color: #f44336;
}

.alert-warning {
	background-color: #ff9800;
}

.alert-info {
	background-color: #4CAF50;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}




/*-----------------------------------------------------------------------------------*/
/*	Tabs
/*-----------------------------------------------------------------------------------*/

.crowbank_tab {
    float: left;
    margin-right:-1px;
}
.crowbank_tab a {
	color:#666666;
    border: 1px solid #d3d3d3;
    display: block;
    padding: 10px 20px;
    background-image: linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-color: #F9F9F9;
}
.crowbank_tab a:hover{
	color:#666666;
	background: #fff;
}
.crowbank_tab a i{
	opacity: 0.6;
	margin:-1px 2px 0 2px;
}
.crowbank_tab a.selected {
	background: #ffffff;
    border-bottom-color: #fff;
    color:#333333;
}
.crowbank_tab a.selected i{
	opacity: 0.9;
}


/* Booking Card */



.booking {
  border: 1px solid black;
  margin-bottom: 10px;
  min-width: 300px;
  max-width: 500px;
  min-height: 180px;
  max-height: 250px;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
#  grid-column-gap: 2px;
#  grid-row-gap: 2px;  
#  font-size: 80%;
  grid-template-columns: 17% auto 17% auto;
  border-radius: 5px;
}

.span2 {
  grid-column: span 2;
}
.span3 {
  grid-column: span 3;
}
.span4 {
  grid-column: span 4;
}

.booking .label {
  font-weight: bold;
  text-align: left;
  padding: 5px;
#  border: 2px solid #dddddd;
  width: 100%;
}

.booking .content {
  font-weight: normal;
  text-align: left;
  padding: 5px;
#  border: 2px solid #dddddd;
  width: 100%;
}

.buttonRow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.buttonPay {
  --color1: #fff6af;
  --color2: #ffec64;
  --color3: #ffab23;
  --color4: #ffaa22;
  --color5: #333333;
  --color6: #ffee66;
}

.buttonModify {
  --color1: #a4e271;
  --color2: #89c403;
  --color3: #77a809;
  --color4: #74b807;
  --color5: #ffffff;
  --color6: #528009;
}

.buttonCancel {
  --color1: #f5978e;
  --color2: #f24537;
  --color3: #c62d1f;
  --color4: #d02718;
  --color5: #ffffff;
  --color6: #810e05;
}

.crowbank_button {
	-moz-box-shadow: 0px 1px 0px 0px var(--color1);
	-webkit-box-shadow: 0px 1px 0px 0px var(--color1);
	box-shadow: 0px 1px 0px 0px var(--color1);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, var(--color2)), color-stop(1, var(--color3)));
	background:-moz-linear-gradient(top, var(--color2) 5%, var(--color3) 100%);
	background:-webkit-linear-gradient(top, var(--color2) 5%, var(--color3) 100%);
	background:-o-linear-gradient(top, var(--color2) 5%, var(--color3) 100%);
	background:-ms-linear-gradient(top, var(--color2) 5%, var(--color3) 100%);
	background:linear-gradient(to bottom, var(--color2) 5%, var(--color3) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--color2), endColorstr=var(--color3),GradientType=0);
	background-color:var(--color2);
	border:1px solid var(--color4);
	color:var(--color5);
	text-shadow:0px 1px 0px var(--color6);
	margin-bottom: 10px;

  -moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}

.crowbank_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, var(--color3)), color-stop(1, var(--color2)));
	background:-moz-linear-gradient(top, var(--color3) 5%, var(--color2) 100%);
	background:-webkit-linear-gradient(top, var(--color3) 5%, var(--color2) 100%);
	background:-o-linear-gradient(top, var(--color3) 5%, var(--color2) 100%);
	background:-ms-linear-gradient(top, var(--color3) 5%, var(--color2) 100%);
	background:linear-gradient(to bottom, var(--color3) 5%, var(--color2) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--color3), endColorstr=var(--color2),GradientType=0);
	background-color:var(--color3);
  
}

.crowbank_button:active {
	position:relative;
	top:1px;
}

#gform_wrapper_19 {
     border: 1px solid black ;
     border-radius: 10px;
     padding-right: 15px;
     padding-left: 15px;
     width: auto;
}

#gform_wrapper_19 .gform_footer {
    text-align: center;
}

#gform_wrapper_19 .gfield_consent_label {
    width: auto;
}

#gform_submit_button_19 {
    background-color: green;
}

.crowbank_page_group {
    margin: 20px auto;
    max-width: 940px;
    padding: 30px;
    border: solid 1px black;
}
