body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.legend {
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.legend p {
    font-size: 14px;
}

.legend h2 {
    font-size: 20px;
}

.legend-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    max-width: 200px;
    min-width: 100px;
    max-height: 500px;
    background-color: #eee;
}

.legend-square {
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    /* display: table-cell; */
    padding: 20px;
    margin: 20px;
    position: relative;
    font-size: 1.5rem;

    background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        color-stop(0.0,transparent),
        color-stop(0.49,transparent),
        color-stop(0.5, #000000),
        color-stop(0.51, transparent),
        color-stop(1, transparent)
    );

    background-image: -moz-linear-gradient(
        left top,
        transparent 0%,
        transparent 49%,
        #000000 50%,
        transparent 51%,
        transparent 100%
    );
}

.legend-am {
    position: absolute;
    top: 15%;
    left: 15%;
}

.legend-pm {
    position: absolute;
    bottom: 20%;
    right: 20%;
}

.legend-text {
    /* display: inline-block; */
    /* padding-bottom: 30px; */
    /* display: table-cell; */
    margin: 0 auto;
    vertical-align: middle;
    height: 100%;
    text-align: center;
}

.legend-detail {
    padding: 20px;
    max-height: 200px;
    min-height: 200px;
}

.legend-text h2 {
    vertical-align: middle;
    padding: 10px 0;
    font-size: 18px;
}

.free_free {
    background-color: green;
}

.busy_busy {
    background-color: orange;
}

.full_full {
    background-color: red;
}